html, body {
	width: 100%;
	height: 100%;
	font-size: 1.2em;
}

.claro .dgrid {
	border: none;
	height: 100%;
}

.dgrid th {
	font-weight: normal;
	font-size: 0.8em;
}

.dijitTree {
	height: 100%;
}

.claro .dijitContentPane {
	padding: 0;
}

#remoteFileExplorer {
	width: 100%;
	height: 100%;
	background-color: #ffffff;
}

#remoteFileExplorer .dijitMenuBar {
	border-width: 0 0 1px 0;
}

#remoteFileExplorer .dijitSplitter {
	border: 1px solid #B5BCC7;
}

#remoteFileExplorer .dijitSplitterH {
	border-width: 1px 0;
}

#remoteFileExplorer .dijitSplitterV {
	border-width: 0 1px;
}
#rfeTbSeparatorSearch { margin-right: 10px; }

.rfeTreePane, .rfeGridPane {
	padding: 0;
}

.claro .rfeLogPane {
	height: 20%;
	padding: 4px;
}

.logErrMsg { color: red; }
.logSuccessMsg {color: green; }
.rfeConsole { font-size: 10px; }
.rfeConsole ul { list-style: disc inside; }


.dgrid-row-table { border: none; }

#remoteFileExplorer .dgrid-cell {
	cursor: default;
	border: none;
}

.dijitDisabled .rfeToolbarIcon {
	background-image: url("images/rfeToolbarIconsDisabled.png");
}
.dgrid-cell .dijitFolderClosed, .dgrid-cell .dijitLeaf {
	display: inline-block;
	vertical-align: top;
}

.rfeToolbarIconDirUp {
	background-position: 0 50%;
}

.rfeToolbarIcon {
	background-image: url("images/rfeToolbarIconsEnabled.png");
	background-repeat: no-repeat;
	height: 18px;
	text-align: center;
	width: 18px;
}

.rfeSearchBoxItemLabel {
	color: #a6a6a6;
	font-size: 0.8em;
}

.dijitMenuPopup .dijitMenuItemLabel {
	min-width: 120px;
}

.tblFileProperties {
	padding: 2px;
}

.tblFileProperties td:first-child {
	color: #a6a6a6;
	text-align: right;
	padding-right: 8px;
}

.dialogContentIconImg, .dialogContentTxt {
	display: inline-block;
}

.dialogContentIconImg {
	margin: 0 12px 0 0;
	vertical-align: top;
}

.gridViewIcons .dgrid-row {
	display: inline-block;
	margin: 5px;
	text-align: center;
	vertical-align: top;
}

/*** Begin rfeDialogAbout ***/
#rfeDialogAbout {
	width: 320px;
	font-size: 11px;
}

#rfeDialogAbout .dijitDialogPaneContent {
	background-color: #eeeeee;
	padding: 0;
}

#rfeDialogAboutLogo {
	float: right;
	padding: 4px 8px;
}

#rfeDialogAboutText {
	clear: both;
	background-color: #ffffff;
	padding: 10px 8px;
}

#rfeDialogAboutText h2 {
	font-size: 12px;
	margin: 0;
}

#rfeDialogAboutText p:nth-child(2) {
	margin: 0;
}

/*** End rfeDialogAbout ***/