html, body {
	width: 100%;
	height: 100%;
}

p {
	margin: 0 0 10px 0;
}

.claro .dgrid {
	border: none;
	height: 100%;
}

.dgrid th {
	font-weight: normal;
	font-size: 0.8em;
}

.dijitTree {
	height: 100%;
}

.claro .dijitContentPane {
	padding: 0;
}

.dijitMenuPopup .dijitMenuItemLabel {
	min-width: 120px;
}

#remoteFileExplorer {
	width: 100%;
	height: 100%;
	background-color: #ffffff;
	font-size: 11px;
}

#remoteFileExplorer .dijitMenuBar {
	border-width: 0 0 1px 0;
}

#remoteFileExplorer .dijitSplitter {
	border: 1px solid #B5BCC7;
}

#remoteFileExplorer .dijitSplitterH {
	border-width: 1px 0;
}

#remoteFileExplorer .dijitSplitterV {
	border-width: 0 1px;
}

#rfeTbSeparatorSearch {
	margin-right: 10px;
}

.rfeTreePane, .rfeGridPane {
	padding: 0;
}

.claro .rfeLogPane {
	height: 20%;
}

.logErrMsg {
	color: red;
}

.logSuccessMsg {
	color: green;
}

.rfeConsole {
	font-size: 10px;
}

.rfeConsole ul {
	list-style: disc inside;
	padding: 5px;
}

.rfeConsole label {
	display: inline-block;
	margin-right: 4px;
}

.dgrid-row-table {
	border: none;
}

#remoteFileExplorer .dgrid-cell {
	cursor: default;
	border: none;
}

.dgrid-cell .dijitFolderClosed, .dgrid-cell .dijitLeaf {
	display: inline-block;
	vertical-align: top;
}

.rfeIcon {
	background: url("images/rfeToolbarIconsEnabled.png") no-repeat 0 0;
	height: 16px;
	text-align: center;
	width: 16px;
}

.dijitDisabled .rfeIcon {
	background-image: url("images/rfeToolbarIconsDisabled.png");
}

.rfeToolbarIconDirUp {
	background-position: 0;
}

.rfeToolbarIconHistoryBack {
	background-position: -32px;
}

.rfeToolbarIconHistoryForward {
	background-position: -48px;
}
.rfeToolbarSort {
	float: right;
}
.rfeToolbarSort .dijitSelect .dijitStretch {
	min-width: 110px;
}

.rfeToolbarIconReload {
	background-position: -16px;
}
.rfeToolbarIconSortDesc {
	background-position: -160px;
}
.rfeToolbarIconSortAsc {
	background-position: -176px;
}
.rfeMenuIconNew {
	background-position: -112px;
}
.rfeMenuIconDir {
	background-position: -64px;
}
.rfeMenuIconFile {
	background-position: -96px;
}
.rfeMenuIconList {
	background-position: -128px;
}
.rfeMenuIconThumbs {
	background-position: -144px;
}

.rfeSearchBoxItemLabel {
	color: #a6a6a6;
	font-size: 0.8em;
}

.tblFileProperties td {
	padding: 4px;
}

.tblFileProperties td:first-child {
	color: #a6a6a6;
	text-align: right;
	padding-right: 8px;
}

.dialogContentIconImg, .dialogContentTxt {
	display: inline-block;
}

.dialogContentIconImg {
	margin: 0 12px 0 0;
	vertical-align: top;
}

.gridViewIcons .dgrid-row {
	display: inline-block;
	margin: 5px;
	text-align: center;
	vertical-align: bottom;
	max-width: 90px;
}

.gridViewIcons img {
	margin-bottom: 3px;
}

.iconImage {
	box-shadow: 2px 2px 4px #cccccc;
}

.buttIcon {
	display: inline-block;
	cursor: pointer;
	border: 1px solid #B5BCC7;
	border-radius: 4px;
	padding: 0;
	height: 18px;
}

.dijitDialog {
	min-width: 200px;
}

.rfe .dijitDialogPaneContent {
	padding: 10px 5px 5px 5px;
}

/*** Begin rfeDialogAbout ***/
#rfeDialogAbout {
	width: 320px;
	font-size: 11px;
}

#rfeDialogAbout .dijitDialogPaneContent {
	background-color: #eeeeee;
	padding: 0;
}

#rfeDialogAboutLogo {
	float: right;
	padding: 4px 8px;
}

#rfeDialogAboutText {
	clear: both;
	background-color: #ffffff;
	padding: 10px 8px;
}

#rfeDialogAboutText h2 {
	font-size: 12px;
	margin: 0;
}

/*** End rfeDialogAbout ***/